// ------------------------------------------------------
// Variables
// ------------------------------------------------------

// fonts
$th-font-family-base:           "aktiv grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;

// border radius
$th-border-radius:              5px;

// colours
$th-color-primary:              #0079bf;
$th-color-primary-link:         _color(blue, 600);
$th-color-primary-heading:      _color(charcoal, 500);
$th-color-primary-text:         _color(charcoal, 300);
$th-color-primary-active:       darken($th-color-primary-link, 12%);
$th-input-placeholder:          _color(charcoal, 200);
$th-color-sub-heading:          _color(charcoal, 400);

//shadows
$th-shadow-light:               0 14px 14px 0 rgba(0,0,0,0.07);
$th-shadow-light-active:        0 4px 8px 0 rgba(0,0,0,0.07);
$th-shadow-light-small:         0 2px 8px 0 rgba(0,0,0,0.15);
$th-shadow-input:               0 2px 4px 0 rgba(0,0,0,0.11);
$th-shadow-modal:               0 10px 44px 10px rgba(0,0,0,0.2);
$th-input-hilite:               0 10px 20px rgba(0,0,0,0.15);

// animation
$th-animation:                  0.2s ease-in-out all;

// hero image
$hero-pattern-img:              "/img/pattern.svg";
