// utils :: base

html, body {
  height: 100%;
  font-family: $font-primary;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-family: $font-title;
  font-weight: 500;
}

h3, h4, h5, p {
  font-family: $font-primary;
}

::selection {
  background: _color(blue, 200);
  color: _color(blue, 500);
}

.s-info, .s-work {
  background: _color(blue, 500);
}
