// utils :: type

h2 {
  color: _color(blue, 500);
  font-size: 40px;
  padding: 0.3em 0 0;
  word-break: break-all;

  @include breakpoint($bp-md) {
    padding-top: 0;
    font-size: 61px;
  }
}

h3 {

  font-size: 22px;
  font-weight: 600;

  @include breakpoint($bp-md) {
    color: _color(blue, 500);
    font-size: 26px;
    line-height: 32px;
  }
}

p + h3 {
  margin-top: 2em;
}

h3 + p {
  margin-top: 1em;
}

p {
  color: _color(slate, 600);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 1.8;
}

.c-tag {
  color: lighten(_color(slate, 600), 30%);
  display: inline-block;
  font-family: $font-bold;
  font-size: 13px;
  letter-spacing: 1.5px;
  line-height: 1;
  margin-bottom: 0.5em;
  text-transform: uppercase;


  @include breakpoint($bp-reg) {
    margin-bottom: 1.5em;
  }

}

.c-link {
  background: _color(white);
  border-radius: 6px;
  box-shadow: 0 0 0 3px _color(pink, 400);
  color: _color(blue, 500);
  display: block;
  font-size: 18px;
  padding: 1em;
  position: relative;
  text-align: center;
  transition: all 0.5s $easing-cubic;

  @include breakpoint($bp-reg) {
    box-shadow: none;
    display: inline-block;
    text-align: left;
    transform: translate3d(-20px,0,0);
  }

  &:before {
    background: _color(blue, 500);
    bottom: 25px;
    content: "";
    display: none;
    height: 1px;
    left: -1px;
    position: absolute;
    transition: all 0.25s $easing-cubic;
    width: 16px;

    @include breakpoint($bp-reg) {
      display: block;
    }
  }

  &:hover {
    background: _color(pink, 400);
    color: _color(blue, 500);
    text-decoration: none;

    @include breakpoint($bp-reg) {
      transform: translate3d(-5px,0,0);
    }

    &:before {
      background: _color(pink, 500);
      width: 30px;
      transform: translate3d(-20px,-5px,0);
    }
  }

  &:focus, &:active {
    background: _color(pink, 400);
    box-shadow: 0 0 0 3px _color(pink, 400);

    @include breakpoint($bp-reg) {
      background: _color(white);
      transform: translate3d(10px,0,0);
    }

    &:before {
      background: _color(pink, 500);
      width: 50px;
      transform: translate3d(-40px,-5px,0);
    }
  }
}

.c-h2 {

  &--light {
    color: _color(white);
  }
}

.c-text {

  &--light {
    color: _color(blue, 300);
  }
}

  .c-project-deets {
    margin-bottom: 8em;
    margin: 0 auto;
    max-width: 620px;
    padding: 4em 2em;
    position: relative;

  @include breakpoint($bp-reg) {
    padding: 0;
  }

  &--extra {
    @include breakpoint($bp-reg) {
      padding: 4em 0 0;
    }
  }

  h2 + p {
    margin-top: 1.5em;
  }

  p + a {
    margin: 2em 0 0;

    @include breakpoint($bp-reg) {
      margin: 0.5em 0;
    }
  }
}
