// utils :: variables

$easing-cubic: cubic-bezier(.4,.1,.1,1);
$easing-basic: linear;
$font-primary: "Biotif-Regular", Biotif-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-title: "Recoleta-Medium", Recoleta-Medium, "Helvetica Neue", Helvetica, Arial, sans-serif;
// $font-title: "Magnat-PosterMedium", Magnat-PosterMedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-bold: "Biotif-Bold", Biotif-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;

$grid-size: 185px;
$grid-size-mobile: calc(100vw / 5);
$grid-size-sm: calc(100vw / 5);
$grid-size-md: calc(100vw / 10);
$grid-size-lg: calc(100vw / 10);

$grid-cols: 10;
$grid-width: 1850px;


// grid widths

$bp-large: $grid-width;
$bp-xl: 1740px;
$bp-md: 1450px;
$bp-reg: 1100px;
$bp-sm: 768px;
