// theme :: navigation

.s-nav {
  background: _color(blue, 500);
  position: relative;
  z-index: 1000;

  &--work {
    background: none;
    @include breakpoint(lg) {
    margin-bottom: 3em;
    }
  }

  @include breakpoint(lg) {
    padding-bottom: 3em;
    min-height: 97px;
  }

  @include breakpoint($bp-xl) {
    padding: 0;
  }
}

.c-nav-list {
  margin: 0;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  min-height: 90px;

  &__link {
    padding: 2em 0.75em;
    display: block;
    color: _color(blue, 300);
    font-size: 18px;
    transition: color 0.2s linear;

    @include breakpoint($bp-reg) {
      padding: 2em;
    }

    svg {
      fill: _color(blue, 300);
      transition: fill 0.2s linear;
    }

    &:hover, &:active, &:focus {
      color: _color(white);
      text-decoration: none;

      svg {
        fill: _color(white);
      }
    }

  }
}

.s-home .c-nav-list__item--work .c-nav-list__link  {
  color: _color(white);
}

.s-work .c-nav-list__item--work .c-nav-list__link  {
  color: _color(white);
}

.s-info .c-nav-list__item--info .c-nav-list__link  {
  color: _color(white);
}
