// theme :: product shot

.c-product-shot {
  position: relative;
  z-index: 100;
  margin: 0 auto;
  padding: 0 2em;

  @include breakpoint($bp-reg) {
    position: absolute;
    z-index: 100;
    margin: auto;
    padding: 0;
  }

  .plyr {
    width: 370px;
    border-radius: 40px;
  }

  .plyr__controls, .plyr__control {
    display: none !important;
  }

  &--shape {
    max-width: 600px;
    transform: translate3d(0,-50%,0);
    top: -15%;

    @include breakpoint($bp-reg) {
      top: 15%;
      right: -34%;
    }

    &:after {
      background: url(/images/hp/hp__shape--editor.png) top left;
      background-size: 40px 120px;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.09);
      content: "";
      height: 120px;
      position: absolute;
      right: -70px;
      top: -4px;
      width: 40px;
      display: none;

      @include breakpoint($bp-reg) {
        display: block;
      }
    }
  }

  &--iphone {
    background: #F1F3F5;
    background-image: linear-gradient(-180deg, #FFFFFF 10%, #F1F3F5 60%);
    box-shadow: 0 52px 74px -30px rgba(0,21,64,0.14), 0 4px 6px 0 rgba(0,21,64,0.05), 0 1px 2px 0 rgba(0,21,64,0.14);
    border-radius: 45px;
    padding: 10px;

    @include breakpoint($bp-reg) {
      border-radius: 60px;
      margin: auto;
      padding: 18px;
    }
  }

  &--ipad {
    background: #F1F3F5;
    background-image: linear-gradient(-180deg, #FFFFFF 50%, #FAFBFC 100%);
    box-shadow: 0 52px 74px -30px rgba(0,21,64,0.14), 0 4px 6px 0 rgba(0,21,64,0.05), 0 1px 2px 0 rgba(0,21,64,0.14);
    border-radius: 20px;
    padding: 10px;

    @include breakpoint($bp-reg) {
      padding: 30px;
      border-radius: 30px;
    }
  }

  &--hs-mobile {
    max-width: 290px;
    top: -10%;
    transform: translate3d(0,-50%,0);

    @include breakpoint($bp-reg) {
      max-width: 411px;
      top: 15%;
      left: -37%;
    }
  }

  &--depart {
    max-width: 270px;
    top: -10%;

    @include breakpoint($bp-reg) {
      max-width: 411px;
      top: -15%;
      transform: translate3d(0,-50%,0);
      right: -32%;
    }
  }

  &--economist {
    transform: translate3d(0,-50%,0);
    max-width: 600px;
    top: -20%;

    @include breakpoint($bp-reg) {
      transform: translate3d(-50%,0,0);
      max-width: 895px;
      left: 9%;
      top: 20%;
    }
  }

  &--jeffsum {
    max-width: 600px;
    top: -15%;
    transform: translate3d(0,-50%,0);

    @include breakpoint($bp-reg) {
      max-width: 585px;
      top: 15%;
      transform: translate3d(-50%,0,0);
      left: 10%;
    }
  }

  img {
    width: 100%;
  }

  &__image {

    &--shape {
      background: _color(white);
      box-shadow: 0 52px 74px -30px rgba(0,21,64,0.14);
      border-radius: 6px;
    }

    &--hs-mobile {
      border-radius: 40px;
      background: _color(white);
    }

    &--depart {
      border-radius: 35px;
      background: _color(white);

      @include breakpoint($bp-reg) {
        border-radius: 40px;
      }
    }

    &--jeffsum, &--economist {
      border-radius: 12px;
      background: _color(white);
    }
  }
}
