// Theme :: HS Apple
// Description :: Custom theme created for Help Scout Docs using the Seed Framework
// Version :: v 1.0

body {
  background: _color(grey, 200);
  color: _color(charcoal, 300);
  font-family: $th-font-family-base;
  line-height: 150%;
}

a {
  color: $th-color-primary-link;
  transition: $th-animation;

  &:hover {
    color: $th-color-primary-link;
  }
}

h1, h4, h5, input {
  color: _color(charcoal, 500);
}

h2 {
  color: $th-color-primary-heading;
}

h3 {
  font-weight: 600;
  color: $th-color-sub-heading;
}

p {
  color: $th-color-primary-text;
}

@include placeholder {
  color: $th-input-placeholder;
}

// ------------------------------------------------------
// section spacing
// ------------------------------------------------------

header + main {
  margin-top: 2em;
}

.th-section + .th-section {
  margin: 2em 0;
}

main section:first-child {
  margin-top: 1em;
}

header + .th-alert {
  margin-top: -1em;
}

.o-row.no-pad {
  margin-right: 0;
  margin-left: 0;
}
.o-row.no-pad > [class*='o-col-'] {
  padding-right: 0;
  padding-left: 0;
}

// ------------------------------------------------------
// titles
// ------------------------------------------------------

.th-h1 {
  color: $th-color-primary-heading;
  margin: 0.5em 0 1em;
  font-size: 28px;
  font-weight: 500;

  strong {
    font-weight: 700;
  }

  &.th-h1-print {
    position: relative;

    .th-icon-print-link {
      display: none;
      border-radius: 100%;
      color: _color(grey, 700);
      padding: 3px 10px 5px;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -25px;
      width: 50px;
      height: 50px;
      transform: scale3d(0.9,0.9,0.9);

      i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        font-size: 25px;
      }

      &:hover {
        color: _color(charcoal, 500);
        background: _color(grey, 300);
        transform: scale3d(1,1,1);
      }

      &:active {
        background: _color(grey, 500);
      }
    }

    @include breakpoint(md) {
      padding-right: 60px;
      .th-icon-print-link {
        display: block;
      }
    }
  }
}

.th-h1 + .th-description {
  margin-top: -1em;
  margin-bottom: 2em;
}

.th-h1 + .th-articles-found {
  margin-top: -1em;
  margin-bottom: 2em;
}

// ------------------------------------------------------
// nav
// ------------------------------------------------------

.th-nav-logo {
  color: _color(white);
  display: block;
  float: left;
  max-width: 200px;
  text-align: center;

  &:hover {
    text-decoration: none;
    color: _color(white);
  }

  @include breakpoint(sm) {
    display: inline-block;
    text-align: left;
  }
}

.th-nav {
  text-align: center;

  .th-nav-list {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;

  }

  .th-nav-item {
    display: inline-block;

    & + .th-nav-item {
      margin-left: 1.5em;
    }
  }

  .th-nav-item-link {
    display: block;
    color: _color(white);
    position: relative;
    padding: 0.5em 0;
    outline: 0;

    &:before {
      background: rgba(255,255,255,0.7);
      bottom: 0;
      content: "";
      height: 2px;
      left: 0;
      opacity: 0;
      position: absolute;
      transform: translate3d(0,10px,0);
      transition: $th-animation;
      width: 100%;
    }

    &:hover {
      color: _color(white);
      text-decoration: none;

      &:before {
        transform: translate3d(0,0,0);
        opacity: 1;
      }
    }
  }
}

.th-nav-menu {
  text-align: right;

  .th-nav-menu-button {
    background: transparent;
    border-color: _color(white);
    color: _color(white);
  }
}

// ------------------------------------------------------
// header
// ------------------------------------------------------

.th-top {
  padding: 1em 0;
}

.th-header {
  background: $th-color-primary;
  position: relative;

  &:before {
    background-color: black;
    background-position: top center;
    background-repeat: repeat;
    content: '';
    height: 100%;
    left: 0;
    mask-image: url($hero-pattern-img);
    -webkit-mask-image: url($hero-pattern-img);
    opacity: 0.04;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// ------------------------------------------------------
// search box
// ------------------------------------------------------

.th-docs-search {

  .th-search-title {
    color: _color(white);
    font-size: 1.7em;
    font-weight: 500;
    padding: 1em 0;

    @include breakpoint(sm) {
      font-size: 2em;
      padding: 1em 0 0.5em;
    }
  }

  .th-docs-search-form {
    padding-bottom: 3em;

    &--small {
      padding-bottom: 2em;

      .th-search-input, .th-search-btn {
        border: 0;
        height: 50px;
      }
    }
  }

  .th-docs-search-form-sub {
      padding-bottom: 1em;

      @include breakpoint(sm) {
        padding-bottom: 2em;
      }
   }

  .th-search-holder {
    box-shadow: $th-shadow-input;
  }

  .th-search-input {
    border-radius: $th-border-radius;
    padding: 0 65px 0 16px;
    position: relative;
    transition: $th-animation;
    z-index: 90;

    @include breakpoint(sm) {
      padding: 0 120px 0 32px;
    }

    &:active, &:focus {
      box-shadow: $th-input-hilite;
    }
  }

  .th-search-btn {
    border-radius: 0 $th-border-radius $th-border-radius 0;
    background: _color(white);
    color: $th-color-primary;
    padding: 0 16px;
    position: absolute;
    right: 0;
    transition: $th-animation;
    z-index: 100;
    @include breakpoint(sm) {
      padding: 0 30px;
     }

    &:hover, &:active, &:focus {
      background: _color(grey, 300);
      color: _color(charcoal, 600);
    }
  }

  .th-search-input, .th-search-btn {
    border: 0;
    height: 50px;
    @include breakpoint(sm) {
      height: 64px;
    }
  }

  span {
    display: none;
  }

  .icon {
    font-size: 26px;
  }
}

// ------------------------------------------------------
// spacing
// ------------------------------------------------------

.th-section-pad-sm {
  margin: 1em 0;
}

.th-section-pad {
  margin: 2em 0;
}

.th-section-pad-lg {
  margin: 3em 0;
}

// ------------------------------------------------------
// Mega Links
// ------------------------------------------------------

.th-mega-link {
  border-radius: $th-border-radius;
  background: _color(white);
  border: 1px solid _color(grey, 500);
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.03);
  display: block;
  margin-bottom: 2em;
  min-height: auto;
  padding: 30px;
  position: relative;
  text-decoration: none;
  vertical-align: top;
  z-index: 5;

  & + .th-mega-link {
    margin-left: 2em;
  }

  .th-mega-link-title {
    margin-bottom: 20px;
  }

  .th-mega-link-p {
    margin-bottom: 20px;
  }

  p {

    &.th-article-count {
      margin-bottom: 0;
      color: $th-color-primary-link;
    }
  }

  .th-article-count-span {
    position: relative;

    &:before {
      @extend %chevron-right;
    }
  }

  &:hover {
    z-index: 10;
    border-color: $th-color-primary;
    box-shadow: $th-shadow-light;
    text-decoration: none;

    .th-article-count-span {
      text-decoration: underline;
      &:before {
        @extend %chevron-right-hover;
      }
    }
  }

  &:active {
    border-color: $th-color-primary-active;
    box-shadow: $th-shadow-light-active;
  }
}

// ------------------------------------------------------
// breadcrumbs
// ------------------------------------------------------

.th-breadcrumbs {
  background: _color(white);
  border-bottom: 1px solid _color(grey, 400);

  .th-breadcrumbs-list {
    margin: 0;
    padding: 0;
  }

  .th-breadcrumbs-list li:last-child {

    a:before {
      display: none;
    }
  }

  .th-breadcrumbs-list-item {
    margin-bottom: 0;
  }

  .th-breadcrumbs-list-item, .th-breadcrumbs-list-link {
    color: _color(charcoal, 300);
    font-size: 11px;
    letter-spacing: .8px;
    position: relative;
    text-transform: uppercase;
    transition: none;

    .th-breadcrumbs-list-link {
      padding: 0.5em 0;
      display: block;

      &:hover {
        color: $th-color-primary-link;
      }

      &:before {
        color: _color(grey, 500);
        content:"\00bb";
        font-size: 14px;
        position: absolute;
        right: -13px;
        top: 50%;
        height: 27px;
        transform: translateY(-50%);
      }
    }
  }
}

// ------------------------------------------------------
// covers main articles, popular articles, related articles & search results
// ------------------------------------------------------

// base article style

.th-article-list {
  border-radius: $th-border-radius;
  background: _color(white);
  border: 1px solid _color(grey, 500);
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.03);
  list-style-type: none;
  padding: 0;

  // main single article

  &.th-article {
    line-height: 1.75em;
    margin: 1.5em 0 0;
    padding: 0.5em 1.5em;
    @include breakpoint(sm) {
      //margin: 1.5em 0 0;
      padding: 0.5em 2em;
    }
    @include breakpoint(lg) {
      padding: 1.5em 4em 1.5em;
    }
    figure {
      border: 1px solid _color(grey, 400);
      display: inline-block;
      margin: 1em 0;
    }
    figcaption {
      border-top: 1px solid _color(grey, 400);
      background: _color(grey, 200);
      margin: 0;
      padding: 1em;
    }
  }
  ol {
    counter-reset: section;
    padding-left: 1em;
    @include breakpoint(md) {
      padding-left: 2em;
    }
    li {
      position: relative;
      display: block;
      padding-left: 0.9em;
      &:before {
        border-right: 1px solid _color(grey, 600);
        color: $th-color-primary;
        content: counter(section);
        counter-increment: section;
        font-weight: bold;
        height: 2.1em;
        left: -2.5em;
        line-height: 2em;
        position: absolute;
        text-align: center;
        width: 2.4em;
        top: -0.25em;
      }
    }
  }
  > li > a {
    &:hover {
      text-decoration: none;
      box-shadow: $th-shadow-light-small;
      z-index: 10;
      .th-search-result {
        text-decoration: underline;
      }
    }
    &:focus {
      box-shadow: inset 0 1px 3px rgba(0,0,0,0.12);
    }
  }
}
.th-article-list-single {
  > li > a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.th-article-list-item:first-child a {
  border-radius: $th-border-radius $th-border-radius 0 0;
}

.th-article-list-item:last-child a {
  border-radius: 0 0 $th-border-radius $th-border-radius;
}

.th-article-header {
  margin-bottom: 2em;
}

.th-article-footer {
  border: 1px solid _color(grey, 500);
  border-radius: $th-border-radius;
  padding: 1em;
  margin: 4em 0 2em;
}

.th-help p {
  font-size: 14px;
  margin: 0;
}

// article listing link + search results listing links

.th-article-list-link {
  background: _color(white);
  border-bottom: 1px solid _color(grey, 400);
  display: block;
  padding: 15px 30px;
  position: relative;
  z-index: 5;
  span {
    position: relative;
    &:before {
      @extend %chevron-right;
    }
  }
  &:hover span {
    &:before {
      @extend %chevron-right-hover;
    }
  }
  .icon {
    margin-right: 5px;
    opacity: 0.6;
  }
}

.th-search-result {
  color: $th-color-primary-link;
  margin: 0.5em 0 0.75em;
  font-size: 20px;
}

.th-article-content * + * {
  margin: 1.5em 0;
}


// ------------------------------------------------------
// Alerts
// ------------------------------------------------------

.th-alert {
  margin: 1.5em 0 0;
}

.th-alert + p {
  margin-top: 2em;
}

// ------------------------------------------------------
// Modal
// ------------------------------------------------------

.modal-backdrop {
  background-color: _color(charcoal, 800);

  &.in, &.fade.in {
    opacity: 0.9;
  }
}

.th-modal-dialog {
  max-width: 600px;
}

.th-modal-content {
  background: _color(white);
  border-radius: $th-border-radius;
  box-shadow: $th-shadow-modal;
}



.th-control-group {
  margin: 1em 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.th-textarea {
  border-radius: $th-border-radius;
  border: 1px solid _color(grey, 600);
  display: block;
  min-height: 200px;
  padding: 1em;
  transition: $th-animation;
  width: 100%;
  &:focus {
    outline: 0;
    border-color: $th-color-primary-link;
  }
}

.th-file {
  display: inline-flex;
}

.th-form-input {
  border-radius: $th-border-radius;
  border: 1px solid _color(grey, 700);
  padding-left: 1em;
  padding-right: 1em;
  transition: $th-animation;
  &:focus {
    border-color: $th-color-primary-link;
  }
}

.th-form-button {
  background: $th-color-primary-link;
  border-color: $th-color-primary-link;
  border-radius: $th-border-radius;
  height: 50px;
  transition: $th-animation;
  width: 100%;
  &:hover {
    background: darken($th-color-primary-link, 10%);
    border-color: darken($th-color-primary-link, 10%);
  }
}

.parsley-error {
  border-color: _color(red, 500);
  border-radius: $th-border-radius $th-border-radius 0 0;
}

.parsley-errors-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    border-radius: 0 0 $th-border-radius $th-border-radius;
    border: 1px solid _color(red, 500);
    border-top: 0;
    background: _color(red, 200);
    color: _color(red, 700);
    display: block;
    font-size: 13px;
    padding: 0.5em 1em;
  }
}

// ------------------------------------------------------
// related articles
// ------------------------------------------------------

.th-related-title {
  margin-bottom: 1em;
}

// ------------------------------------------------------
// footer
// ------------------------------------------------------

.th-footer {
  margin-top: 2em;
  padding: 0 0 1em;

  p {
    font-size: 14px;
    text-align: center;

    a {
      color: $th-color-primary-text;

      &:hover {
        color: darken($th-color-primary-text, 30%);
        text-decoration: none;
      }
    }
  }
}
