// theme :: work

.c-work {
  background: _color(white);
  position: relative;
  z-index: 100;
  padding: 10em 0;


  &__title {
    word-break:keep-all;

    &--large-top {
      @include breakpoint(lg) {
        margin-top: 3em;
        margin-bottom: 0.5em;
       }
    }
  }

  &__image {
    max-width: 100%;

    &--box-1 {
      max-width: 666px;

      @include breakpoint(lg) {
        margin-top: 20em;
       }
    }

    &--box-2 {
      @include breakpoint(lg) {
        margin-top: 5em;
       }
    }

  }

}
