<footer class="th-footer">
  <div class="o-container">
    <div class="o-row">
      <div class="o-col-12 o-col-10@sm o-col-offset-1@sm">
        <p>
          &copy; <a href="#">{{ layout.company }}</a> 2016. <span>Powered by <a href="#" target="_blank"><!--<i class="icon icon-hs-mark"></i>--> Help Scout</a>.</span>
           <!-- - <a href="#">Log Out</a> -->
        </p>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="{{ "/js/scripts.js" | prepend: site.baseurl | prepend: site.url | cachebuster }}"></script>
