<header class="th-header">
  <div class="th-top">
    <div class="o-container">
      <div class="o-row">
        <div class="o-col-4 o-col-offset-1@sm">
          <a id="nav-logo" href="{{ site.baseurl }}/" class="th-nav-logo">
            {% if layout.logo != null %}
            <img src="{{ site.baseurl }}/images/{{ layout.logo }}" alt="{{ layout.company }}" />
            {% endif %}
          </a>
        </div>
        <div class="o-col-8 o-col-6@sm">
          <nav class="th-nav u-d-none u-d-block@sm">
            <ul class="th-nav-list">
              <li class="th-nav-item"><a href="#" class="th-nav-item-link"><i class="icon icon-lock"></i>Internal</a></li>
              <li class="th-nav-item"><a href="#contactModal" data-toggle="modal" class="th-nav-item-link">Contact</a></li>
            </ul>
          </nav>
          <nav class="th-nav-menu u-d-none@sm">
            <button class="c-button th-nav-menu-button">Menu</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
  {% if page.search == true %}
  <div id="docsSearch" class="th-docs-search">
    <div class="o-container">
      <div class="o-row">
        <div class="o-col-12 o-col-10@sm o-col-offset-1@sm">
          {% if page.title !=null %}<h1 class="th-search-title">{{ page.title }}</h1>{% endif %}
          <form action="{{ site.baseurl }}/results" method="GET" id="searchBar" class="th-docs-search-form" autocomplete="off">
            <div class="o-control-group th-search-holder" role="group">
              <input class="c-input o-control-group__block th-search-input" type="text" placeholder="{{ page.search-placeholder }}" />
              <button class="c-button th-search-btn"><span>{{ page.search-btn }}</span> <i class="icon icon-search"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if page.search-sub == true %}
  <div id="docsSearch" class="th-docs-search">
    <div class="o-container">
      <div class="o-row">
        <div class="o-col-12 o-col-10@sm o-col-offset-1@sm">
          <form action="{{ site.baseurl }}/results" method="GET" id="searchBar" class="th-docs-search-form th-docs-search-form-sub" autocomplete="off">
            <div class="o-control-group th-search-holder" role="group">
              <input class="c-input o-control-group__block th-search-input" type="text" placeholder="{{ page.search-placeholder }}" />
              <button class="c-button th-search-btn"><span>{{ page.search-btn }}</span> <i class="icon icon-search"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</header>

{% if page.breadcrumbs == true %}
  {% include breadcrumbs.html %}
{% endif %}
