---
layout: default
title: Getting started with Help Scout video demo
search-sub: true
search-btn: Search
search-placeholder: Search our knowledge base
breadcrumbs: true
alert: false
related-articles: true
admin: false
---

<main role="main">
  <div class="th-section">
    <div class="o-container">
      {% if page.admin == true %}
      {% include admin.html %}
      {% endif %}
      <div class="o-row">
        <div class="o-col-12 o-col-10@sm o-col-offset-1@sm">
          <article class="th-article-list th-article">
            <header class="th-article-header" role="heading">
              <h1 class="th-h1 th-h1-print">{{ page.title }} <a href="javascript:window.print()" class="th-icon-print-link"><i class="icon icon-print"></i></a></h1>
              {% if page.alert == true %}
              <div class="th-alert c-alert is-warning">
                Looking for help getting started? Check out our <a href="#">Getting Started Guide</a>.
              </div>
              {% endif %}
            </header>
            <section class="th-article-content" role="content">
              <p>Hey, this is Brian from the Trello team. Today we are going to take a peek at the “Best App Ever” board that Misty River Software created to keep track of their new app. As you can see, this board is made up of lists that represent a workflow. Each list has cards on it. A card is a unit that represents a task, and can hold a variety information for that task.</p>
              <figure>
                <img src="/img/sample/trello-boards.png" alt="" />
                <figcaption>Now we're getting organized!</figcaption>
              </figure>
              <h2>Example</h2>
              <h3>Working with others</h3>
              <p>It's perfectly <a href="http://trello.com">fine to use Trello</a> on your own, but it really shines when you collaborate with others. To add members to a board, select "Add Members..." from the board menu. Search for a user by name or enter an email address and click their name to invite them to the board. If they are not a member you can invite them to Trello by entering their name and email and by clicking "Send".</p>
              <ol>
                <li>
                  <p>Click the <em>Make an Annual Payment</em> link just under the account summary section.</p>
                  <figure>
                    <img src="/img/sample/sample-2.png" alt="" />
                    <figcaption>Now we're getting organized!</figcaption>
                  </figure>
                </li>
                <li>Adjust the User count, then click the Make an Annual Payment button. If you're paying via check or PayPal, contact us and we'll send you an invoice to finish the payment process. Read all about annual subscriptions here.</li>
              </ol>
            </section>
            {% include article-footer.html %}
          </article>
        </div>
      </div>
    </div>
  </div>
  {% if page.related-articles == true %}
  {% include related-articles.html %}
  {% endif %}
</main>
